*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.061);
    height: 50px;
}
li,a{
    text-decoration: none;
    outline: none;
    list-style: none;
}
header .social-media ul{
    display: flex;
}
header .social-media ul li{
    margin-left: 15px;
    font-size: 14px;
    color: #535353;
}
header .social-media ul li a{
    color: #535353;
}
header .social-media ul li :hover{
    color: #07a3cc;
}
header .nav nav ul{
    display: flex;
    position: relative;
}
header .nav nav li{
    font-size: 12px;
}
header .nav nav>ul>li{
    margin-right: 30px;
    height: 60px;
}
header .nav nav a{
    color: #161616;
}
header .nav nav a:hover{
    color: #07a3cc;
}
header .nav nav ul li:hover i{
    color: #07a3cc;
}
header .nav nav ul>li ul{
    display: none;
    position: absolute;
    top: 2.2rem;
    border: 1px solid  rgba(0, 0, 0, 0.061);
    border-top: 0;
    width: 250px;
    padding-bottom: 1.5rem;
} 
header .nav nav ul>li ul i{
    position: absolute;
    right: 20px;
}
header .nav nav ul>li ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.061);
    padding-left: 1.7rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    position: relative;
}
header .nav nav ul>li ul:last-child{
    padding-bottom: 0px;
}
header .nav nav ul>li:hover .first{
    display: block;
}
header .nav nav ul>li .first>li:hover .second{
    display: block;
    position: absolute;
    left: 98%;
    top: -1px;
    border-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.061);
    border-bottom: 0;
}
header .nav nav i{
    font-size: 10px;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.209);
}
header .search ul{
    display: flex;
    justify-content: space-between;
}
header .search ul li input{
    border: 0;
    font-size: 0.8rem;
    margin-left: 10px;
    outline: none;
}
header .search ul i{
    font-size: 13px;
}
header .search ul sup{
    display: inline-block;
    width: 14px;
    height: 16px;
    padding-left: 4px;
    border-radius: 50%;
    background-color: #318892;
    color: white;
    position: relative;
    top: -5px;
    left: -3px;
}
header .search ul .horizontal-line{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.061);
    width: 1px;
    position: relative;
    top: -15px;
    left: -20px;
}