*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.061);
    height: 50px;
    z-index: 1000;
    background-color: white;
}
li,a{
    text-decoration: none;
    outline: none;
    list-style: none;
}
header .social-media ul{
    display: flex;
}
header .social-media ul li{
    margin-left: 15px;
    font-size: 14px;
    color: #535353;
}
header .social-media ul li a{
    color: #535353;
}
header .social-media ul li :hover{
    color: #07a3cc;
}
header .nav nav ul{
    display: flex;
    position: relative;
}
header .nav nav li{
    font-size: 12px;
}
header .nav nav>ul>li{
    margin-right: 30px;
    height: 60px;
}
header .nav nav a{
    color: #161616;
}
header .nav nav a:hover{
    color: #07a3cc;
}
header .nav nav ul li:hover i{
    color: #07a3cc;
}
header .nav nav ul>li ul{
    display: none;
    position: absolute;
    top: 2.2rem;
    border: 1px solid  rgba(0, 0, 0, 0.061);
    border-top: 0;
    width: 250px;
    padding-bottom: 1.5rem;
    background-color: white;
} 
header .nav nav ul>li ul i{
    position: absolute;
    right: 20px;
}
header .nav nav ul>li ul li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.061);
    padding-left: 1.7rem;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    position: relative;
}
header .nav nav ul>li ul:last-child{
    padding-bottom: 0px;
}
header .nav nav ul>li:hover .first{
    display: block;
    z-index: 1;
}
header .nav nav ul>li .first>li:hover .second{
    display: block;
    position: absolute;
    left: 100%;
    top: -1px;
    border-top: 1px solid rgba(0, 0, 0, 0.061);
    border-bottom: 0;
}
#fashion{
    position: relative;
}
#fashion ul li{
    border-bottom: 0;
    text-align: center;
}
#fashion ul li img{
    cursor: pointer;
    overflow: hidden;
}
#fashion ul li h2{
    margin-top: 1rem;
    margin-bottom: 6px;
    font-size: 13px;
    color: #535353;
    cursor: pointer;
}
#fashion ul li h2:hover{
    opacity: 0.8;
}
#fashion ul li img:hover{
    opacity: 0.8;
}
#fashion ul li p{
    color: #606060;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
}
#fashion:hover ul{
    width: 1140px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: -800%;
    border-left: 1px solid rgba(0, 0, 0, 0.061);
    border-right: 1px solid rgba(0, 0, 0, 0.061);
    padding-right: 2rem;
}
#fashion ul i{
    position: static;
    color: rgba(0, 0, 0, 0.219);
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    margin-top: 40px;
    margin-left: 5px;
    cursor: pointer;
}
#fashion .icon{
    margin-left: -150px;
}
#lifestyle{
    position: relative;
}
#lifestyle>ul>li{
    border-bottom: 0;
    text-align: center;
}
#lifestyle ul li img{
    cursor: pointer;
    overflow: hidden;
}
#lifestyle ul li h2{
    margin-top: 1rem;
    margin-bottom: 6px;
    font-size: 13px;
    color: #535353;
    cursor: pointer;
}
#lifestyle ul li h2:hover{
    opacity: 0.8;
}
#lifestyle ul li img:hover{
    opacity: 0.8;
}
#lifestyle ul li p{
    color: #606060;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
}
#lifestyle:hover .menu{
    width: 1140px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: -800%;
    border-left: 1px solid rgba(0, 0, 0, 0.061);
    border-right: 1px solid rgba(0, 0, 0, 0.061);
    padding-right: 2rem;
}
#lifestyle:hover .menu ul{
    display: block;
    position: static;
    text-align: start;
    border-left: 0;
    border-bottom: 0;
    height: 108%;
    margin-top: -12px;
    padding-top: 10px;
}
#lifestyle .menu ul li{
    width: 70%;
    margin-left: 40px;
    padding-left: 0;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
#lifestyle ul i{
    position: static;
    color: rgba(0, 0, 0, 0.219);
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 3px;
    margin-top: 40px;
    margin-left: 5px;
    cursor: pointer;
}
#lifestyle .icon{
    margin-left: -150px;
}
header .nav nav ul li .second>li:hover .third{
    display: block;
    position: absolute;
    left: 100%;
    top: -1px;
    border-top: 1px solid rgba(0, 0, 0, 0.061);
    border-bottom: 0;
}
header .nav nav i{
    font-size: 10px;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.209);
}
header .search ul{
    display: flex;
    justify-content: space-between;
}
header .search ul li input{
    border: 0;
    font-size: 0.8rem;
    margin-left: 10px;
    outline: none;
}
header .search ul i{
    font-size: 13px;
}
header .search ul sup{
    display: inline-block;
    width: 14px;
    height: 16px;
    padding-left: 4px;
    border-radius: 50%;
    background-color: #318892;
    color: white;
    position: relative;
    top: -5px;
    left: -3px;
}
header .search ul .horizontal-line{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.061);
    width: 1px;
    position: relative;
    top: -15px;
    left: -20px;
}
header .bar{
    display: none;
}
@media only screen and (max-width:960px) {
    header .social-media{
        display: none;
    }
    header .nav{
        display: none;
    }
    header .bar{
        display: block;
        margin-left: 5%;
    }
}
#cheerup{
    width: 100%;
    padding-top: 5rem;
}
#cheerup>.head{
    width: 200px;
    height: 58px;
    background-image: url('../img/logo.webp');
    background-size: 100%;
    margin: 2rem auto;
    font-size: 30rem;
    transform: scale(1.4);
    cursor: pointer;
}
#cheerup .container {
    position: relative;
    width: 100%;
}
.owl-stage{
    background-color: transparent;
}
#cheerup .container .images{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    background-color: white !important;
}
.owl-carousel{
    position: static;
}
#cheerup .container .images .owl-nav button{
    position: relative;
    z-index: 1;
}
.owl-nav{
    width:70% ;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 15%;
    top: 40%;
}
.owl-nav button{
    border: 1px solid white !important;
    width: 30px;
    height: 40px;
    overflow: hidden;
}

.owl-nav button span{
    font-size: 40px;
    color: white;
    transform: translateY(-8px);
    display: block;
}
.owl-nav button span:hover{
    background-color: white;
    color: black;
}
#cheerup .container .images .first{
    width: 100%;
    height: 100%;
    background-image: url('../img/cheerup1.jpeg');
    background-size: cover;
    padding-top: 2%;
    cursor: pointer;
    transition: .2s;
}
#cheerup .container .images .second{
    width: 100%;
    height: 100%;
    background-image: url('../img/cheerup2.jpeg');
    background-size: cover;
    padding-top: 2%;
    cursor: pointer;
}
#cheerup .container .images .third{
    width: 100%;
    height: 100%;
    background-image: url('../img/cheerup3.jpeg');
    background-size: cover;
    padding-top: 2%;
    cursor: pointer;
}
#cheerup .container .images .forth{
    width: 100%;
    height: 100%;
    background-image: url('../img/cheerup4.jpeg');
    background-size: cover;
    padding-top: 2%;
    cursor: pointer;
}
#cheerup .container .images .fifth{
    width: 100%;
    height: 100%;
    background-image: url('../img/cheerup5.jpeg');
    background-size: cover;
    padding-top: 2%;
    cursor: pointer;
}
#cheerup .container .images >div>div>div>div:hover{
    opacity: 0.9;
}
#cheerup .container .images div div{
    width: 96%;
    height: 96%;
    background-color: transparent;
}
#cheerup .container .images .demo {
    width: 96%;
    height: 96%;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.359);
}
#cheerup .container .content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    top: 40%;
    left: 10%;
    z-index: 1;
}
#cheerup .container .content .left,.right{
    color: white;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    padding-top: 5px;
}
#cheerup .container .content .left:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
#cheerup .container .content .right:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
#cheerup .container .content .midle h3{
    font-size: 10px;
    font-weight: 600;
    color: #161616;
    width: 80px;
    height: 16px;
    padding-top: 2px;
    margin: 1rem auto;
    background-color: white;
    cursor: pointer;
}
#cheerup .container .content .midle h2{
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
#cheerup .container .content .midle p{
    font-size: 13px;
    color: #fff;
    margin-bottom: 1rem;
}
#cheerup .container .content .midle a{
    color: white;
    border: 1px solid white;
    display: block;
    width: 120px;
    height: 34px;
    padding-top: 5px;
    margin: 0px auto;
}
#cheerup .container .content .midle a:hover{
    background-color: white;
    color: black;
}
#cheerup .popular {
    width: 80%;
    margin: 2rem auto;
}
#cheerup .popular .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#cheerup .popular .head .left{
    display: flex;
    justify-content: space-between;
    width: 40%;

}
#cheerup .popular .head .left:first-child{
    border: 0.5px solid rgba(0, 0, 0, 0.132);
    width: 45%;
    height: 4px;
    border-left: 0;
    border-right: 0;
}
#cheerup .popular .head .left .horizontal-line{
    border: .5px solid rgba(0, 0, 0, 0.082);
    height: 12px;
    margin-top: -4px;
    margin-left: 3px;
}
#cheerup .popular .head .right{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 15px;
}
#cheerup .popular .head .right .first{
    border: 0.5px solid rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 4px;
    border-left: 0;
    border-right: 0;
}
#cheerup .popular .head .right .horizontal-line{
    border: .5px solid rgba(0, 0, 0, 0.09);
    height: 12px;
    margin-top: -4px;
}
#cheerup .popular .head .midle{
    width: 17%;
}
#cheerup .popular .head .midle h2{
    padding: 0 27px;
    font-size: 17px;
    font-weight: 600;
    color: inherit;
    font-family: inherit;
}
#cheerup .popular .content{
    padding-bottom: 4rem;
    position: relative;
    margin-top: 3rem;
    transition: 1s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.127);
}
#cheerup .popular .content .icon{
    position: absolute;
    width: 100%;
    display: none;
}
#cheerup .popular .content:hover .icon{
    display: block;
}
#cheerup .popular .content .icon .left{
    color: rgba(0, 0, 0, 0.146);
    position: absolute;
    left: -50px;
    top: 85px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-top: 15px;
}
#cheerup .popular .content .icon .right{
    color: rgba(0, 0, 0, 0.206);
    border: 0;
    position: absolute;
    top: 85px;
    right: -50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    padding-left: 30px;
}
#cheerup .popular .content .img{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#cheerup .popular .content .img>div{
    width: 24%;
}
#cheerup .popular .content .img div img{
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    width: 80%;
}
#cheerup .popular .content .img div img:hover{
    opacity: 0.8;
}
#cheerup .popular .content .img div p{
    letter-spacing: .09em;
    color: #318892;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    font-size: 11px;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    transition: .5s;
}
#cheerup .popular .content .img div p:hover{
    color: #318892ae;
}
#cheerup .popular .content .img div h3{
    font-family: inherit;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 1rem;
    transition: .3s;
}
#cheerup .popular .content .img div h3:hover{
    color: rgba(0, 0, 0, 0.686);
}
#cheerup .popular .content .img div span{
    font-weight: 500;
    letter-spacing: .075em;
    font-family: inherit;
    font-size: 10px;
    color: #16161644;
    cursor: pointer;
}

@media only screen and (max-width:450px){
    #cheerup .popular .content .img .second, .third, .forth{
        display: none;
    }
    #cheerup .popular .content .img>div{
        width: 100%;
        margin-left: 3rem;
    }
    #cheerup .popular .content .img div img{
        width: 100%;
    }
}
@media only screen and (min-width:450px) and (max-width:730px) {
    #cheerup .popular .content .img .third, .forth{
        display: none;
    }
    #cheerup .popular .content .img>div{
        width: 50%;
    }
}
@media only screen and (min-width:730px) and (max-width:960px){
    #cheerup .popular .content .img .third{
        display: block;
    }
    #cheerup .popular .content .img .forth{
        display: none;
    }
    #cheerup .popular .content .img>div{
        width: 33%;
    }
}
@media only screen and (max-width:960px) {
    #cheerup .container .images .first{
        display: none;
    }
    #cheerup .container .images .second{
        width: 100%;
        margin-left: 3rem;
    }
    #cheerup .container .images .last{
        display: none;
    }
}
#main{
    width: 85%;
    margin: 4rem auto;
}
#main .container{
    display: flex;
    justify-content: space-between;

}
#main .container .left{
    width: 63%;
    text-align: center;
}
#main .container .left h4{
    color: #318892;
    letter-spacing: .09em;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    font-size: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#main .container .left h4:hover{
    color: #318892c0;
}
#main .container .left h4 span{
    font-weight: 500;
    letter-spacing: .075em;
    font-family: inherit;
    cursor: pointer;
    font-size: 10px;
    color: #b4b4b4;
}
#main .container .left h2{
    color: #161616;
    font-family: inherit;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.35;
    transition: .5s;
}
#main .container .left h2:hover{
    color: #161616ac;
}
#main .container .left hr{
    width: 40px;
    margin: 1rem auto;
}
#main .container .left p{
    margin-bottom: 26px;
    font-size: 16px;
    color: #606060;
    text-align: justify;
}
#main .container .left .end{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}
#main .container .left .end div{
    width: 34%;
    height: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.163);
    text-align: center;
    padding-top: 10px;
}
#main .container .left .end div span{
    color: #535353;
    cursor: pointer;
    font-size: 13px;
}
#main .container .left .end div span span{
    color: #b4b4b4;
}
#main .container .left .end div span:hover{
    color: #53535398;
}
#main .container .left .end div i{
    font-size: 12px;
    font-weight: 500;
    color: #535353;
    cursor: pointer;
    
    margin-right: 10px;
}
#main .container .left .end div i:hover{
    color: #07a3cc;
}#main .container .left .end div i:hover .like-count{
    display: inline-block;
    color: #07a3cc;
}
#main .container .left .end div .like-count{
    color: #07a3cc;
    background-color: rgba(0, 0, 0, 0.233);
    font-size: 10px;
    display: none;
}

#main .container .left img{
    width: 100%;
    height: 514;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}
#main .container .left img:hover{
    opacity: 0.8;
}
#main .container .right{
    width: 30%;
    text-align: center;
}
#main .container .right>h2{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #161616;
    border: 0.5px solid rgba(0, 0, 0, 0.134);
    padding-top: 10px;
    margin-top: -8px;
    margin-bottom: 2rem;
}
#main .container .right>p{
    color: #606060;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 1rem;
    
}
#main .container .right>a{
    text-decoration: none;
    color: #318892;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .09em;
    cursor: pointer;
    transition: .4s;
}
#main .container .right>a:hover{
    color: #318892ae;
}
#main .container .right>hr{
    width: 80px;
    margin: 5px auto;
    color: rgba(0, 0, 0, 0.005);
    opacity: 0.4;
    margin-bottom: 2rem;
}
#main .container .right .img{
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
}
#main .container .right .img .name{
    position: absolute;
    top: 50px;
    left: 120px;
}
#main .container .right .img img{
    width: 100%;
}
#main .container .right .img .name h3{
    width: 100px;
    background-color: white;
    color: #535353;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    height: 30px;
    padding-top: 8px;
}
@media only screen and (max-width:1300px) {
    #main .container .right{
        display: none;
    }
    #main .container .left{
        width: 100%;
    }
}
@media only screen and (min-width:310px) and (max-width:760px) {
    #main .container .left .end>.first{
        display: none;
    }
    #main .container .left .end>div{
        width: 50%;
    }
    
}
@media only screen and (max-width:310px){
    #main .container .left .end{
        flex-wrap: wrap;
    }
    #main .container .left .end>.first{
        display: none;
    }
    #main .container .left .end>div{
        width: 70%;
        border: 0;
    }
}
#shop{
    width: 85%;
    margin: 2rem auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.121);
}
#shop .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}
#shop .head .left{
    display: flex;
    justify-content: space-between;
    width: 40%;

}
#shop .head .left:first-child{
    border: 0.5px solid rgba(0, 0, 0, 0.132);
    width: 45%;
    height: 4px;
    border-left: 0;
    border-right: 0;
}
#shop .head .left .horizontal-line{
    border: .5px solid rgba(0, 0, 0, 0.082);
    height: 12px;
    margin-top: -4px;
    margin-left: 3px;
}
#shop .head .right{
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 15px;
}
#shop .head .right .first{
    border: 0.5px solid rgba(0, 0, 0, 0.07);
    width: 100%;
    height: 4px;
    border-left: 0;
    border-right: 0;
}
#shop .head .right .horizontal-line{
    border: .5px solid rgba(0, 0, 0, 0.09);
    height: 12px;
    margin-top: -4px;
}
#shop .head .midle{
    width: 17%;
}
#shop .head .midle h2{
    padding: 0 27px;
    font-size: 17px;
    font-weight: 600;
    color: inherit;
    font-family: inherit;
}
#shop >.content{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#shop >.content>div{
    position: relative;
}
#shop >.content>div:hover .icon{
    display: block;
}
#shop >.content>div .icon{
    position: absolute;
    width: 100%;
    cursor: pointer;
    display: none;
}
#shop >.content>div .icon span{
    display: inline-block;
    margin-left: 70%;
    margin-top: 10px;
    font-size: 11px;
    color: #318892;
    position: absolute;
}
#shop >.content>div .icon h3{
    width: 100%;
    background-color: #318892;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .12em;
    line-height: 36px;
    text-align: center;
    color: white;
    margin-top: 88%;
}
#shop >.content>div .img {
    text-align: center;
}
#shop >.content>div .img img{
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}
#shop >.content>div .img h2{
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
}
#shop >.content>div .img p{
    color: #b4b4b4;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .075em;
    cursor: pointer;
}
#shop >.content>div .img span{
    margin-top: 10px;
    display: inline-block;
    color: #318892;
    font-weight: 600;
    font-size: 15px;
}
#shop .end{
    margin-top: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.067);
    width: 180px;
    height: 40px;
    padding-left: 30px;
    margin: 4rem auto;
}
#shop .end:hover{
    background-color:#318892 ;
    border: 0;
    padding-top: 2px;
}
#shop .end:hover a{
    color: white;
}
#shop .end a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .09em;
    line-height: 34px;
    color: #161616;
    cursor: pointer;
}
@media only screen and (max-width:930px) {
    #shop >.content{
        flex-wrap: wrap;
    }
    #shop >.content>div{
        width: 48%;
    }
}
#catalog{
    width: 85%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
}
#catalog>.left-content{
    width: 66%;
}
#catalog>.left-content>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
#catalog>.left-content>div>div{
    text-align: center;
    width: 48%;
}
#catalog>.left-content>div>div img{
    width: 370px;
    height: 278px;
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
}
#catalog>.left-content>div>div img:hover{
    opacity: 0.8;
}
#catalog>.left-content>div>div>span{
    color: #318892;
    cursor: pointer;
    font-weight: 600;
    font-size: 10px;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
    display: inline-block;

}
#catalog>.left-content>div>div>span:hover{
    opacity: 0.8;
}
#catalog>.left-content>div>div>span span{
    font-weight: 500;
    letter-spacing: .075em;
    color: #b4b4b4;
}
#catalog>.left-content>div>div>h2{
    color: #161616;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
    transition: .5s;
}
#catalog>.left-content>div>div>h2:hover{
    opacity: 0.7;
}
#catalog>.left-content>div>div>hr{
    width: 40px;
    height: 1px;
    background-color: #318892;
    margin: 2rem auto;
    margin-top: 0px;
    border: 0.5px solid #318892;
}
#catalog>.left-content>div>div>p{
    width: 90%;
    margin-bottom: 2rem;
    font-size: 16px;
    color: #606060;
    line-height: 1.8;
    text-align: start;
    margin-left: 25px;
}
#catalog>.left-content>div>div .contact{
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.153);
    border-bottom: 1px solid rgba(0, 0, 0, 0.162);
}
#catalog>.left-content>div>div .contact div{
    display: inline-block;
    width: 0.5px;
    height: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.174);
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
}
#catalog>.left-content>div>div .contact i{
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
    color: #535353;
    cursor: pointer;
}
#catalog>.left-content>div>div .contact i span{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
}
#catalog>.left-content>div>div .contact i:hover{
    color: #07a3cc;
}
#catalog>.left-content>div>div>.copy{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.191);
    width: 50px;
    height: 50px;
    border: 2px solid white;
    top: 20%;
    left: 40%;
    padding-top: 10px;
    cursor: pointer;
    z-index: 1;
}
#catalog>.left-content>div>div>.copy i{
    color: white;
    font-size: 20px;
}
#catalog>.left-content>.end a{
    display: inline-block;
    padding-bottom: 5px;
    font-size: 11px;
    font-weight: 600;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    color: #161616;
    transition: .5s;
}
#catalog>.left-content>.end a i{
    font-size: 12px;
    margin-right: -5px;
}
#catalog>.left-content>.end a span{
    margin-left: 15px;
}
#catalog>.left-content>.end a:hover{
    color: #07a3cc;
}
#catalog>.right-content{
    width: 28%;
    
}
#catalog>.right-content>h2{
    width: 100%;
    height: 43px;
    text-align: center;
    border:1px solid rgba(0, 0, 0, 0.069);
    font-size: 12px;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: .055em;
    color: rgba(0, 0, 0, 0.795);
}
#catalog>.right-content>.social{
    width: 92%;
    margin: 2rem auto;
}
#catalog>.right-content>.social>a{
    color: black;
    font-style: italic;
    font-size: 14px;
    cursor: pointer;
    color: #535353;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.075);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    margin-left: 17px;
    transition: .4s;
}
#catalog>.right-content>.social>a:hover {
    color: #07a3cc;
}
#catalog>.right-content>.contact{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.051);
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    margin-bottom: 2rem;
}
#catalog>.right-content>.contact>h3{
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .055em;
    color: black;
}
#catalog>.right-content>.contact>hr{
    width: 20px;
    display: inline-block;
    border: 0.5px solid rgba(0, 0, 0, 0.207);
}
#catalog>.right-content>.contact>p{
    width: 90%;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}
#catalog>.right-content>.contact>form>input{
    width: 90%;
    height: 40px;
    outline-color: rgba(0, 0, 0, 0.378);
    border: 1px solid rgba(0, 0, 0, 0.194);
    padding-left: 1rem;
}
#catalog>.right-content>.contact>form>button{
    width: 90%;
    height: 40px;
    margin: 10px auto;
    background-color: #318892;
    color: white;
    border: 0;
    font-size: 11px;
    cursor: pointer;
    letter-spacing: 1px;
}
#catalog>.right-content>.img{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#catalog>.right-content>.img>div>img{
    width: 87px;
    height: 67px;
    display: inline-block;
    transition: .4s;
    overflow: hidden;
    cursor: pointer;
}
#catalog>.right-content>.img>div>img:hover{
    opacity: 0.8;
}
#catalog>.right-content>.img>div>div{
    display: inline-block;
    width: 65%;
    margin-left: 1.5rem;
    margin-bottom: 1.3rem;
}
#catalog>.right-content>.img>div>div>span{
    color: #318892;
    cursor: pointer;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 0.7rem;
    display: inline-block;
}
#catalog>.right-content>.img>div>div>span:hover{
    opacity: 0.8;
}
#catalog>.right-content>.img>div>div>span>span{
    font-weight: 500;
    letter-spacing: .075em;
    color: #b4b4b4;
}
#catalog>.right-content>.img>div>div>h2{
    color: #161616;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0.7rem;
}
#catalog>.right-content>.img>div>div>h2:hover{
    opacity: 0.8;
}
#catalog>.right-content>.img>div>div>p{
    font-size: 14px;
    color: #b4b4b4;
    line-height: 1.1;
}
#catalog>.right-content>.catagory{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
#catalog>.right-content>.catagory>img{
    width: 108px;
    height: 108px;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
}
#catalog>.right-content>.catagory>img:hover{
    opacity: 0.8;
}
#catalog>.right-content>.menu>div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.099);
    margin-top: 2rem;
    padding-bottom: 15px;
}
#catalog>.right-content>.menu>div>i{
    font-size: 7px;
    color:  #07a3cc;
    cursor: pointer;
}
#catalog>.right-content>.menu>div>h3{
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    color: #535353;
    font-weight: 300;
    margin-left: 10px;
    width: 55px;
}
#catalog>.right-content>.menu>div>span{
    margin-left: 68%;
    font-size: 13px;
    color: #c3c3c3;
}
@media only screen and (min-width:780px) and (max-width:1167px) {
    #catalog>.right-content{
        display: none;
    }
    #catalog>.left-content{
        width: 100%;
    }
    #catalog>.left-content>div>div{
        width: 50%;
    }
}
@media only screen and (max-width:780px){
    #catalog>.right-content{
        display: none;
        width: 100%;
    }
    #catalog>.left-content>div{
        flex-wrap: wrap;
    }
    #catalog>.left-content>div>div{
        width: 100%;
        margin-bottom: 2rem;
    }
}
footer{
    background-color: #49494916;
    padding-top: 2rem;
    width: 100%;
}
footer>.up{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 3rem;
}
footer>.up>div{
    width: 30.6%;
}
footer>.up>div>h2{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 35px;
    margin-top: 2rem;
}
footer>.up>div>hr{
    color: rgba(0, 0, 0, 0.104);
    margin-bottom: 3rem;
    height: 0.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.105);
}
footer>.up>div>div{
    margin-bottom: 17px;
}
footer>.up>div>div>img{
    width: 87px;
    height: 67px;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
}
footer>.up>div>div>img:hover{
    opacity: 0.8;
}
footer>.up>div>p{
    text-align: center;
    font-size: 14px;
    color: #606060;
    margin-top: 1rem;
    line-height: 25px;
}
footer>.up>div>div>div{
    display: inline-block;
    width: 66%;
    margin-left: 1.5rem;
}
footer>.up>div>div>div>span{
    color: #318892;
    letter-spacing: .09em;
    font-weight: 600;
    cursor: pointer;
    font-size: 10px;
    transition: .3s;
    margin-bottom: 0.5rem;
    display: inline-block;
}
footer>.up>div>div>div>span:hover{
    opacity: 0.7;
}
footer>.up>div>div>div>span>span{
    font-weight: 500;
    letter-spacing: .075em;
    font-weight: 400;
    color: #b4b4b4;
}
footer>.up>div>div>div>h2{
    cursor: pointer;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 600;
    transition: .3s;
}
footer>.up>div>div>div>h2:hover{
    opacity: 0.7;
}
footer>.up>div>div>div>p{
    color: #999;
    font-size: 14px;
    line-height: 1.1;
    margin-top: .5rem;
}
footer>.down{
    position: relative;
    width: 100%;
}
footer>.down>.logo{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 120px;
    height: 35px;
    color: #535353;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    top: 38%;
    left: 45%;
}
footer>.down>.logo:hover{
    color: #535353ce;
}
footer>.down>.images{
    display: flex;
    justify-content: space-evenly;
}
footer>.down>.images>img{
    width: 14.3%;
    height: 14.3%;
    cursor: pointer;
    transition: .3s;
}
footer>.down>.images>img:hover{
    opacity: .8;

}
footer>.down>.end{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
    margin-bottom: 0;
    padding-bottom: 2rem;
}
footer>.down>.end>a{
    font-size: 13px;
    color: #b4b4b4;
    line-height: 1.8666;
}
footer>.down>.end>a>i{
    text-transform: lowercase;
}
footer>.down>.end>#go-to-top{
    cursor: pointer;
}
footer>.down>.end>#go-to-top:hover{
    color: black;
}
@media only screen and (max-width:940px) {
    footer>.up{
        flex-wrap: wrap;
    }
    footer>.up>div{
        width: 100%;
        overflow: hidden;
    }
    footer>.up>div img{
        width: 100%;
        height: 350px;
    }
    footer>.down>.images .seventh, .sixth{
        display: none;
    }
   
}
@media only screen and(max-width:526px){
    footer>.down>.images {
        flex-wrap: wrap;
    }
    footer>.down>.images .seventh{
        display: none;
    }
    footer>.down>.images img{
        width: 33%;
    }
}
@media only screen and(min-width:526px) and (max-width:940px){
    footer>.down>.images img{
        width: 20%;
    }
    footer>.up .sixth, .seventh{
        display: none;
    }
}